{% load static %}

<div class="tile is-ancestor mt-6">
    <div class="tile is-parent">
        <div class="tile is-child " id="events">
            {% if user.is_superuser %}
            <a href="/upcoming_events">
                <button class="button is-light is-outlined is-pulled-right"
                    style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i class="fa fa-plus-circle" aria-hidden="true"></i>  Add Events</strong></button>
            </a>

            {% endif %}
            <p class="title mx-4">UPCOMING EVENTS</p>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child ">
                        <div class="card mx-4">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="{% static 'images/inplant.png'%}" alt="Event 1">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">Inplant Training</p>
                                <div class="content">
                                    This program discusses about DSA, mock tests for interviews and
                                    Aptitude.<a>@IT.io</a>. <br>
                                    <a href="/TPO_app">
                                        <button class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</strong></button>
                                    </a>
                                    <br>
                                    <time datetime="2016-1-1">23 Sept 2020</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child ">
                        <div class="card mx-4">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="{% static 'images/ML.gif'%}" alt="Event 1">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">Machine Learning</p>
                                <div class="content">
                                    One of the fastest and emerging technology by the top speakers in our panel.
                                    <a>@ML.io</a>. <br>
                                    <a href="/TPO_app">
                                        <button class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</strong></button>
                                    </a>
                                    <br>
                                    <time datetime="2016-1-1">22 Sept 2020</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child ">
                        <div class="card mx-4">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="{% static 'images/BC.gif'%}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">BlockChain</p>
                                <div class="content">
                                    Want to know how the "crytographical transaction" is being done? Register here for
                                    some insightful knowledge<a>@BC.io</a> <br>
                                    <a href="/TPO_app">
                                        <button class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</strong></button>
                                    </a>
                                    <br>
                                    <time datetime="2016-1-1">1 Oct 2020</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child ">
                        <div class="card mx-4">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="{% static 'images/VR.gif' %}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title">AR</p>
                                <div class="content">
                                    Virtual reality/Augmented Reality appears to offer educational potentials. Click
                                    here for this amazing event. <a>@AR.io</a>. <br>
                                    <a href="/TPO_app">
                                        <button class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color: rgba(105, 0, 255, 0.11);color: #6900FF;"><strong><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</strong></button>
                                    </a>
                                    <br>
                                    <time datetime="2016-1-1">1 Dec 2020</time>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</div>