{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                
                <div class="notification is-success is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div>
            {% elif message.tags == 'info'%}
                <div class="notification is-info is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div>
            {% elif message.tags == 'warning'%}
                <div class="notification is-warning is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div>
            {% elif message.tags == 'error'%}
                <div class="notification is-warning is-light">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    <strong>{{message}}</strong>
                </div>
            {% endif %}
        {% endfor %}
{% endif %}